<div class="example-item">
  <div class="category-image"></div>
  <div class="category-content">
    <h4><a href="/categories/<%= category['slug'] %>/"><%= category['name'] %></a></h4>
    <p>
    Examples in the <%= category['name'] %> category
    </p>
  </div>
</div>
